In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
var1 = 1
var2 = 2
var3 = "3"

print(str(var1) + str(var2) + var3)

123

In [ ]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [ ]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [ ]:
for i in range(10, 15, 1):
  print( i, end=', ')

10, 11, 12, 13, 14,

In [ ]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [ ]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [ ]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

In [ ]:
str = "pynative"
print (str[1:3])

yn

In [ ]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: ignored

In [ ]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [ ]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: ignored

In [ ]:
var= "James Bond"
print(var[2::-1])

maJ

In [ ]:
print(2 * 3 ** 3 * 4)

216

In [ ]:
print(10 - 4 * 2)

2

In [ ]:
x = 10
y = 50
if x ** 2 > 100 and y < 100:
    print(x, y)

In [ ]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [ ]:
x = 6
y = 2
print(x ** y)
print(x // y)

36
3

In [ ]:
a = 4
b = 11
print(a | b)
print(a >> 2)

15
1

In [ ]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
y = 10
x = y += 2
print(x)

SyntaxError: ignored

In [ ]:
x = 100
y = 50
print(x and y)

50

In [ ]:
print(36 / 4)

9.0

In [ ]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: ignored