In [ ]:
my_list = [1, 'Hello', True, 3.14, ['apple', 'banana', 'cherry'], {'name': 'John', 'age': 25}]

print(my_list)

[1, 'Hello', True, 3.14, ['apple', 'banana', 'cherry'], {'name': 'John', 'age': 25}]

In [ ]:
nested_list = [(1, 2, 3), ('a', 'b', 'c'), [True, False ]]
print(nested_list)

[(1, 2, 3), ('a', 'b', 'c'), [True, False]]

In [ ]:
import numpy as np

# Create a 1-dimensional NumPy array
arr1 = np.array([1, 2, 3, 4, 5])
print(arr1)

[1 2 3 4 5]