In [ ]:
def great():
  print("Hello")
  print("Good Morning")

def add(x,y):
  c = x+y
  d = x-y
  e =x*y
  print(e)
  print(c)
  print(d)  
great()  
add(4,5)

Hello
Good Morning
20
9
-1

In [ ]:
def add(x,y):
  c = x+y
  return c

result = add(4,5)
print(result)

9

In [ ]:
def add_sub(x,y):
  c = x+y
  d = x-y

  return c,d

result1, result2 = add_sub(4,5)
print(result1)
print(result2)

9
-1

In [ ]:
# list of bollean
boolean_list = [True, True]
print(all(boolean_list))

True

In [ ]:
boolean_list = [True, True]
print(any(boolean_list))

True

In [ ]:
numbers =[1,3,5,7,9,10]

all_odd = all([n%2 for n in numbers])
print(all_odd)

False

In [ ]:
name_list = ["Marry", "Anna", "Alexender"]
marks_list = [60, 45, 96]

counter = 0
for student in name_list:
  if student == "Alexender":
    print(marks_list[counter])
    break
counter += 1

60

In [ ]:

name_list = ["Marry", "Anna", "Alexender"]
marks_list = [60, 45, 96]


for student in name_list:
  if student == "Alexender":
    print(marks_list[counter])

96

In [ ]:
# enumerate
name_list = ["Marry", "Anna", "Alexender"]
marks_list = [60, 45, 96]

for counter, student in enumerate(name_list):
  if student == "Alexender":
    print(marks_list[counter])
    break

96

In [ ]:
# zip
number_list = [1,2,3]
str_list = ['one','two','three']

result = zip(number_list, str_list)
print(list(result))

[(1, 'one'), (2, 'two'), (3, 'three')]

In [ ]:
name_list = ["Marry", "Anna", "Alexender"]
marks_list = [60, 45, 96]

result = zip(name_list, marks_list)
print(marks_list)

[60, 45, 96]