In [ ]:
# Swap two numbers using third variable
num1 = 13
num2 = 10
temp = num1
num1 = num2
num2 = temp
print("After Swapping:")
print("num1=",num1)
print("num2=",num2)

After Swapping:
num1= 10
num2= 13

In [ ]:
# Swap two numbers without using third variable
num1 = 10
num2 = 20
num1 = num1+num2
num2 = num1-num2
num1 = num1-num2
print("After Swapping:")
print("num1=",num1)
print("num2=",num2)

After Swapping:
num1= 20
num2= 10

In [ ]:
# Remove duplicate elements from a list without converting to tuple

In [ ]:
# Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers
def gcd(a, b):
    while b != 0:
        temp = b
        b = a % b
        a = temp
    return a

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = gcd(num1, num2)

print("The GCD or HCF of", num1, "and", num2, "is:", result)

Enter the first number: 4
Enter the second number: 10
The GCD or HCF of 4 and 10 is: 2

In [ ]:
#Write a loop to print following series 10, 20, 30,  …………………, 300
for i in range(1, 31):
    print(i * 10)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [ ]:
#Write a loop to print following series 105,98,91,………………………,7
for i in range(105, 6, -7):
    print(i)

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [ ]:
# Here's a program in Python that takes a number as input and prints the corresponding number names of its digits:

In [ ]:
# Write a program to print Fibonacci series till n terms take n =50
def print_fibonacci_series(n):
    
    num1 = 0
    num2 = 1
    
  
    print(num1, end=", ")
    print(num2, end=", ")

  
    for _ in range(2, n):
        next_num = num1 + num2
        print(next_num, end=", ")
        num1 = num2
        num2 = next_num

n = 50
print_fibonacci_series(n)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049,

In [ ]:
#Write a program to print factorial of a number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input("Enter a number: "))
result = factorial(number)
print(f"The factorial of {number} is: {result}")

Enter a number: 20
The factorial of 20 is: 2432902008176640000

In [ ]:
#Write a program to check if a number is Armstrong or not

In [ ]:
#Write a program to convert binary to decimal
def binary_to_decimal(binary):
    decimal = 0
    power = 0
    
    for digit in reversed(binary):
        decimal += int(digit) * (2 ** power)
        power += 1
    
    return decimal

binary_number = input("Enter a binary number: ")
decimal_number = binary_to_decimal(binary_number)
print(f"The decimal equivalent of {binary_number} is: {decimal_number}")

Enter a binary number: 1
The decimal equivalent of 1 is: 1

In [ ]:
#Write a program to convert decimal to binary
def decimal_to_binary(decimal):
    binary = ""

    if decimal == 0:
        return "0"
    
    while decimal > 0:
        binary = str(decimal % 2) + binary
        decimal //= 2
    
    return binary

decimal_number = int(input("Enter a decimal number: "))
binary_number = decimal_to_binary(decimal_number)
print(f"The binary equivalent of {decimal_number} is: {binary_number}")

Enter a decimal number: 1
The binary equivalent of 1 is: 1

In [ ]:
#Write a program to check if number is palindrome on not (Without converting to string)

In [ ]:
#Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500
def print_numbers():
    for number in range(100, 501):
        if number % 13 == 0 and number % 3 != 0:
            print(number)

print("Numbers divisible by 13 but not by 3 between 100 and 500:")
print_numbers()

Numbers divisible by 13 but not by 3 between 100 and 500:
104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [ ]:
#Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

In [ ]:
#Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0
def generate_array(m, n):
    array = []
    for i in range(m):
        row = []
        for j in range(n):
            if i == 0 or j == 0:
                row.append(0)
            else:
                row.append(i * j)
        array.append(row)
    return array

m = int(input("Enter the number of rows: "))
n = int(input("Enter the number of columns: "))

result_array = generate_array(m, n)
print("Generated Array:")
for row in result_array:
    print(row)

Enter the number of rows: 10
Enter the number of columns: 20
Generated Array:
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]
[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114]
[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133]
[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152]
[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171]

In [ ]:
#Write a Python program that accepts a string and calculates the number of digits and letters.
#Sample Data: Python 3.2
#Expected Output: 
#Letters 6
#Digits 2
def count_digits_letters(string):
    num_digits = 0
    num_letters = 0

    for char in string:
        if char.isdigit():
            num_digits += 1
        elif char.isalpha():
            num_letters += 1

    return num_digits, num_letters

string = input("Enter a string: ")
digits, letters = count_digits_letters(string)
print(f"Letters: {letters}")
print(f"Digits: {digits}")

Enter a string: 'Hello World' ' 1 2 3
Letters: 10
Digits: 3